.account {
    &-score {
        border-radius: 10px;
        position: relative;
        cursor: pointer;

        .action-score-infos {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &:before {
                font-size: 50px;
                opacity: .5;

                @media (max-width: $md) {
                    font-size: 24px;
                }
            }
        }

        @media (max-width: $md) {
            font-size: 18px;
        }

        &-categor {
            &ies {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 20px -7px 10px;
            }

            &y {
                font-size: 13px;
                text-align: center;
                flex: 1 33.33%;
                margin: 7px;
                padding: 10px;
                cursor: pointer;
            }
        }

        &-number {
            background: $color-red;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            display: inline-flex;
            margin-left: 10px;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: white;
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-sidebar {
        margin-top: 50px;
        padding-bottom: 100px;
        border-radius: 10px;

        &-card {
            margin-top: 15px;
            border-radius: 10px;
            transition: box-shadow .5s ease;
            cursor: pointer;
            position: relative;
            padding-left: 50px !important;

            &.warning {
                border-right: 6px solid $color-orange;
            }

            &:hover {
                box-shadow: 0 5px 10px rgba(139, 44, 37, .7);
            }

            &-warning {
                position: absolute;
                top: 10px;
                right: 10px;
                color: $color-orange;
                font-weight: bold;
                font-size: 26px;
                line-height: 1;
            }
        }

        &-progressbar {
            height: 22px;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            position: relative;
            background: #cc4c4414;

            span {
                background: $color-red;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 12px;
                transform-origin: left;
            }
        }
    }
}