p, li {
    font-size: 14px;
}

li {
    color: #8090b5;
    line-height: 1.7;
}

strong {
    font-weight: 600;
}

.logo {
    width: 180px;
}

.bg {
    &-gradient {
        background-image: linear-gradient(to right, $color-red-dark, $color-red);
    }
}

.shadow {
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15) !important
}

.btn {
    &-small {
        padding: .5rem 1rem;
        font-size: 14px;
    }
}

.columns {
    &-3 {
        column-count: 3;
        text-align: justify;
        column-gap: 40px;

        @media (max-width: $xl) {
            column-count: 2;
        }

        @media (max-width: $md) {
            column-count: 1;
        }
    }
}

.page404 {
    &-image {
        max-width: 400px;
    }
}

.services {
    &-icons {
        max-width: 80px;
        max-height: 60px;
    }
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: $color-red;
}

.error {
    color: $color-red;
}

.message {
    background: $color-red-overlay;
    border-radius: 5px;
    padding: 5px 15px;

    &.valid {
        background: $color-green-overlay;
        color: $color-green;
    }
}

.form {
    &-label {
        text-align: left;
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        letter-spacing: 1px;
        color: #8090b5;
    }

    &-error {
        text-align: left;
        font-size: 12px;
        display: block;
    }
}

.cms {
    h2, h3 {
        color: $color-red;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        margin: 0;
    }
}

.abstract {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &-2 {
        -webkit-line-clamp: 2; /* number of lines to show */
    }

    &-3 {
        -webkit-line-clamp: 3; /* number of lines to show */
    }

    &-4 {
        -webkit-line-clamp: 4; /* number of lines to show */
    }
}

.loading {
    position: relative;
    opacity: .5;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.6);
        z-index: 1;
    }

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin: 8px;
        border-radius: 50%;
        border: 5px solid black !important;
        border-color: black transparent black transparent !important;
        animation: lds-dual-ring 1.2s linear infinite;
        z-index: 2;
      }

      @keyframes lds-dual-ring {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
}

.portfolio {
    &-title {    
        padding: 15px 30px;
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 53%, 0);

        h6 {
            margin-bottom: 15px;
        }
    }

    &-item {
        min-height: 150px;
    }
}

.filter {
    &-red {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: $color-red;
            opacity: .3;
        }
    }
}

.badge {
    &--large {
        font-size: 18px;
    }
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    &-col {
        &-2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.article {
    &-heading {
        padding: 0;
        position: relative;
        height: 400px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
            background: black;
            opacity: 0.3;
        }
    }

    &-title {
        color: white;
        z-index: 2;
        max-width: 80%;
        margin: auto; 
    }
}

.partner {
    &-section {
        padding: 40px 0;

        &:nth-child(even) {
            background-color: $color-red;
            margin-top: 40px;
            padding-bottom: 60px;

            h2 {
                color: white;
            }
        }
    }

    &-item {
        &:hover {
            cursor: pointer;
            transform: scale(1.03) translateY(-5px);
            transition: transform .5s ease;
        }
    }

    &-img {
        max-height: 200px;
        object-fit: contain;
        margin: auto;
    }
}